
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style>
     body {
         background-image: url('../../Images/Bg Piece 1.png'), url('../../Images/Bg Piece 2.png');
 
         background-position: left top, right top;
         background-repeat: no-repeat, no-repeat;
         padding: 15px;
     }
     .devices  .card{
         border:0px;
     }
     .section2 div{
         width:190px !important;
         
         margin:10px;
         padding:7px 1px;
         
         background:#f7f7f7;
     }
     .section2 div img{
         width:50px ;
         align-content:center;
          
     }
     .Prodect-1{
         border-top:4px solid #57c0bd;
     }
     .Prodect-2{
         border-top:4px solid #b3bdc5;
     }
     .Prodect-3{
         border-top:4px solid #efa6ae;
     }
     .Prodect-4{
         border-top:4px solid #4ec0c2;
     }
     .bg-light-blue{
background-color:#56bfc3;
     }
     .bg-light-gray{
          background-color:#8ea8bd;
     }
      .bg-light-red{
          background-color: #ed877b;
     }
      .progress{
          height:10px;
          border-radius:0px;
      }
      .rounded-circle{
          width:59px;
          height:59px;
      }
 </style>

<div class="container">    
    <div class="col-lg-12 card pt-3 pb-3">
        <div class="row devices">
            <div class="col-lg-2 card p-0">
                <div class="col-sm-12 p-0 ml-2">
                    <img src="~/Images/company_logo.svg " style="width:50px;" class="img-fluid float-left" />
                   <div class="float-left">
                       <h6 class="mb-0">Splash Designs</h6>
                       <small>Welcome Andy</small>
                    </div> 
                   
                </div>
                

            </div>
            <div class="col-lg-2 card float-left">
                <h3> 5</h3>
                <span>Total devices</span>
            </div>
            <div class="col-lg-2  card  float-left">
                <h3> 1</h3>
                <span>Error devices</span>
            </div>
            <div class="col-lg-2 card float-left">
                <h3> 1</h3>
                <span>Offline devices</span>
            </div>
            <div class="col-lg-2 card float-left">
                <h3> 64</h3>
                <span>Total jobs printed</span>
            </div>
            <div class="col-lg-2 card float-left">
                <h3> 7</h3>
                <span>Total users</span>
            </div>
        </div>
        </div>

    
</div>
<div class="container">
    <center>
        <div class="row section2 justify-content-md-center">
            <div class="col col-lg-1 ">

                <img src="~/Images/manage.svg" />
                <p class="small">Manage</p>
            </div>
            <div class="col col-lg-1 ">
                <img src="~/Images/history.svg" />
                <p class="small">History</p>
            </div>
            <div class="col col-lg-1 ">
                <img src="~/Images/colorguard.svg" />
                <p class="small">ColorGuard</p>
            </div>
            <div class="col col-lg-1">
                <img src="~/Images/inkorderding.svg" />
           <p class="small">IQ Ink Ordering</p>
            </div>
            <div class="col col-lg-1 ">
                <img src="~/Images/smartalerts.svg" class="img-fluid" />
                <p class="small"    > IQ Smart Alerts</p>
            </div>
        </div>
    </center>
</div>

<div class="container">
<div class="col-lg-12">
    <div class="row">

   


        <div class="col-lg-6 mt-3">
            <div class="card  Prodect-1"> 
                <div class="card-header  bg-white">
                    <div class="row">

                        <div class="col-3 p-0 m-0">
                            <img src="~/Images/press_reggiani.png"class="img-fluid" />
                            
                        </div>
                        <div class="col-5">
                            <h5 class="p-0 m-0">HULKER</h5>
                            <small class="text-gray">Printing</small>
                        </div>
                        <div class="col-4 ">
                           <p class="float-right">Printing</p>
                        </div>

                    </div>
                    <div class="row progress">
                        <div class="progress-bar bg-light-gray" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-red" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-blue" role="progressbar" style="width: 55%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 crounded-circle text-center bg-light-blue "></div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div  class="col-3 p-3 float-left rounded-circle text-center bg-light-blue " >
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     

                </div>
                
            </div>
        </div>

        <div class="col-lg-6 mt-3">
            <div class="card  Prodect-1">
                <div class="card-header  bg-white">
                    <div class="row">

                        <div class="col-3 p-0 m-0">
                            <img src="~/Images/press_reggiani.png" class="img-fluid" />

                        </div>
                        <div class="col-5">
                            <h5 class="p-0 m-0">HULKER</h5>
                            <small class="text-gray">Printing</small>
                        </div>
                        <div class="col-4 ">
                            <p class="float-right">Printing</p>
                        </div>

                    </div>
                    <div class="row progress">
                        <div class="progress-bar bg-light-gray" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-red" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-blue" role="progressbar" style="width: 55%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 crounded-circle text-center bg-light-blue "></div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>


        <div class="col-lg-6 mt-3">
            <div class="card  Prodect-1">
                <div class="card-header  bg-white">
                    <div class="row">

                        <div class="col-3 p-0 m-0">
                            <img src="~/Images/press_reggiani.png" class="img-fluid" />

                        </div>
                        <div class="col-5">
                            <h5 class="p-0 m-0">HULKER</h5>
                            <small class="text-gray">Printing</small>
                        </div>
                        <div class="col-4 ">
                            <p class="float-right">Printing</p>
                        </div>

                    </div>
                    <div class="row progress">
                        <div class="progress-bar bg-light-gray" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-red" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-blue" role="progressbar" style="width: 55%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 crounded-circle text-center bg-light-blue "></div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
         

        <div class="col-lg-6 mt-3">
            <div class="card  Prodect-1">
                <div class="card-header  bg-white">
                    <div class="row">

                        <div class="col-3 p-0 m-0">
                            <img src="~/Images/press_reggiani.png" class="img-fluid" />

                        </div>
                        <div class="col-5">
                            <h5 class="p-0 m-0">HULKER</h5>
                            <small class="text-gray">Printing</small>
                        </div>
                        <div class="col-4 ">
                            <p class="float-right">Printing</p>
                        </div>

                    </div>
                    <div class="row progress">
                        <div class="progress-bar bg-light-gray" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-red" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-light-blue" role="progressbar" style="width: 55%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 crounded-circle text-center bg-light-blue "></div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="col-3 p-3 float-left rounded-circle text-center bg-light-blue ">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                    <div class="col-9 float-right">
                                        <h5>9</h5>
                                        <p>Jobs Printed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>
   
</div>
</div>
